<!-- This file extends the content from the base.html file and will render its contents on the index page -->
{% extends 'base.html' %}

<!-- The below will appear in addition to what is in the base.html file -->
{% block content %}

<div class='game'>
  <h1>Welcome to the future, adventurer.</h1>
  <p>Year 2069, six years after the Betelgeuse went supernova. In just seconds, the gamma rays wiped out 80% of life on
    earth. Few survived the initial flash, and less survived the radiation that pollutes the earth now. Radiation is the
    leading cause of death for the remaining few.</p>
  <p>You, [Player Name], are on a mission to travel to a hidden underground vault to find a special plant, the “Chelsea
    wax plant”, to create a cure to suppress and combat the radiation sickness.</p>
</div>

{% endblock %}